* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #2b3350;
  line-height: 1;
  font-family: "Lato";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #f3f4f7;
}
.lock body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 75.75rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__content {
  display: flex;
}
.main__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 10px;
}
.main__column_left {
  flex: 0 1 35%;
}
.main__column_right {
  flex: 0 1 65%;
}
.main__img-wrapp {
  width: 100%;
  height: 100%;
}
.main__title {
  font-size: 1.875rem;
}
.main__secret-word {
  margin-top: 20px;
}
.main__hint {
  font-size: 1.5rem;
  line-height: 1.1666666667;
  text-align: center;
}
.main__lives {
  font-size: 1rem;
}
.main__lives-span {
  font-size: 18px;
  color: #ff0000;
}
.hangman__wrapp {
  position: relative;
  width: 100%;
  height: 100%;
}
.hangman__part {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
  user-select: none;
}
.hangman__part_hide {
  opacity: 0;
}

.secret {
  display: flex;
  font-size: 1.875rem;
  gap: 5px;
}
.secret__letter_hide {
  color: #f3f4f7;
  border-bottom: 2px solid #2b3350;
}

.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.keyboard__key {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8d6e63;
  font-size: 1.25rem;
  color: #ffffff;
  border-radius: 7px;
  box-shadow: 0 7px 0px #6d4c41;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  padding: 20px 25px;
  position: relative;
  top: 0;
  cursor: pointer;
}
.keyboard__key:active {
  top: 3px;
  box-shadow: 0 2px 0px #6d4c41;
  transition: all 0.2s;
}
@media (any-hover: hover) {
  .keyboard__key:hover {
    background: #8d5c4a;
  }
}
.keyboard__key_off {
  top: 3px;
  box-shadow: 0 2px 0px #6d4c41, inset 0 0 5px 2px #ff0000;
  transition: all 0.2s;
}
.keyboard__key_on {
  top: 3px;
  box-shadow: 0 2px 0px #6d4c41, inset 0 0 5px 2px #00ff00;
  transition: all 0.2s;
}